/* tumblr */

#dashboard_index .sponsored_post { display:none !important; }
#tumblr_radar .premium { display:none !important; }
.premium {display: none !important;}

/* flickr */

#yucs-top-bar { display: none !important; }
#global-nav { top: 0 !important; }