/* tumblr */

#dashboard_index .sponsored_post,
#tumblr_radar,
#tumblr_radar .premium,
.is_note,
.mb_tracked,
.premium,
.post_container .is_recommended,
.remnant-unit-container,
.sponsored_post { display:none !important; }

/* flickr */

#yucs-top-bar { display: none !important; }
#global-nav { top: 0 !important; }